################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Custom.TemplateEngine/v15
/bin/Debug/netstandard2.0
/obj
